@import '../../styles.scss';

nav {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    background-color: $primary-color; 
    color: white;
    padding: 0.7rem 0;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        @include respond-to('desktop') {
            width: 80%;
        }
    }

    .logo {
        a {
            text-decoration: none;
        }

        h1 {
            margin: 0;
            font-size: 1.3rem;
            font-weight: 600;
            color: white;
            transition: color 0.2s;

            &:hover {
                color: #1e1e1e;
                cursor: pointer;
            }
        }
    }

    .nav-links {
        display: flex;
        gap: 1.75rem;

        a {
            color: white;
            text-decoration: none;
            font-size: 0.95rem;
            transition: color 0.2s;

            &:hover {
                color: #1e1e1e;
            }
        }

        @media (max-width: 600px) {
            display: none;
        }
    }

    .nav-icons {
        display: flex;
        align-items: center;

        a {
            margin-left: 2rem; //icon spacing
            transition: transform 0.3s ease-in-out; //zoom speed

            img {
                width: 24px;
                height: 24px;
            }

            &:hover {
                transform: scale(1.4); //zoom in
            }
        }
    }
}
