<nav>
  <div class="container">
      <div class="logo">
          <a href="#about">
              <h1>Thomas Aiello - Software Engineer</h1>
          </a>
      </div>
      <div class="nav-icons">
          <a href="https://www.linkedin.com/in/thomas-aiello19/" target="_blank">
              <img src="assets/icons/linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://www.github.com/taiello19" target="_blank">
              <img src="assets/icons/github.png" alt="GitHub">
          </a>
          <a href="#contact">
              <img src="assets/icons/phone.png" alt="Phone">
          </a>
      </div>
  </div>
</nav>
