<div class="main">
  <section id="home" class="home-section">
    <div class="home-content">
      <img src="assets/icons/japan.jpg" alt="Home Image" class="home-image">
      <h1 class="home-title">Welcome to My Website</h1>
      <p class="home-subtitle">Scroll down to learn more about me</p>
      <div class="home-links">
        <a href="#about">About Me</a>
        <a href="#skills">Skills</a>
        <a href="#work-experience">Work Experience</a>
        <a href="#projects">Projects</a>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="about-header-container">
        <h1 class="about-title">About Me</h1>
        <h2 class="about-subtitle">Welcome to my personal website! Here is a bit about me...</h2>
    </div>
    <div class="about-content">
        <img src="assets/icons/grad.jpg" alt="Profile Picture" class="profile-picture">
        <div class="about-text-container">
            <div class="about-blurb-header">
                <p class="about-blurb-text">B.E.Sc. in Software Engineering at Western University</p>
                <img src="assets/icons/western.png" alt="western" class="small-square-image">
            </div>
            <p class="about-text">
              Hi, my name is Thomas, and I am a graduate from the University of Western Ontario, class of 2024, with a Bachelor's degree in Software Engineering.
              A little bit about me: I have always had a passion for sports, enjoying activities like hockey, volleyball, and many others. 
              Alongside sports, I have always had a love for computers and technology.
               During my time at school, I developed a keen interest in coding, combining my love for computers with my career aspirations. 
               Now, I am excited to continue growing as a software developer and to keep creating. Check out my projects section to see some of the cool things I've done!
            </p>
        </div>
    </div>
</section>
  
  <section id="skills">
      <div class="skills-header-container">
          <h1 class="skills-title">Skills</h1>
          <h2 class="skills-header">Here are some of my skills...</h2>
      </div>
      <div class="skills-container">
          <div class="skills-carousel" #carousel>
              <div class="skill-item">
                  <img src="assets/icons/pytorch.png" alt="PyTorch">
                  <p>PyTorch</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/python.png" alt="Python">
                  <p>Python</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/gcp.png" alt="GCP">
                  <p>GCP</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/java.png" alt="Java">
                  <p>Java</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/aws.png" alt="AWS">
                  <p>AWS</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/angular.png" alt="Angular">
                  <p>Angular</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/javascript.png" alt="JavaScript">
                  <p>JavaScript</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/sql.png" alt="SQL">
                  <p>SQL</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/csharp.png" alt="C#">
                  <p>C#</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/react.png" alt="React">
                  <p>React</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/pandas.png" alt="Pandas">
                  <p>Pandas</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/html.png" alt="HTML">
                  <p>HTML</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/node.png" alt="Node.js">
                  <p>Node.js</p>
              </div>
              <div class="skill-item">
                  <img src="assets/icons/git.png" alt="Git">
                  <p>Git</p>
              </div>
          </div>
          <div class="border"></div>
      </div>
  </section>
  
<section id="work-experience">
    <div class="work-experience-header-container">
        <h1 class="work-experience-title">Work Experience</h1>
        <h2 class="work-experience-subtitle">My work experience includes...</h2>
    </div>
    <div class="work-experience-content">
        <div class="work-experience-item">
            <img src="assets/icons/innovapost2.jpg" alt="Company Logo" class="work-experience-image">
            <div class="work-experience-details">
                <h3 class="work-experience-name">Innovapost - Software Developer</h3>
                <p class="work-experience-blurb">
                  As a Student Developer at Innovapost, I contributed to team success through daily scrums, front-end development, and documentation in an Agile environment, enhancing team efficiency.
                </p>
                <ul class="work-experience-points">
                    <li>Worked in an Agile environment with daily scrums focused on constant updates</li>
                    <li>Creating a local repository setup guide to streamline the process for future developers</li>
                    <li>Assisted in the testing and quality assurance process for the Canada Post website</li>
                    <li>Actively participated in the development of the front-end codebase</li>
                </ul>
            </div>
        </div>
        <!-- add more here -->
    </div>
</section>


  
<section id="projects">
  <div class="projects-header-container">
    <h1 class="projects-title">Projects</h1>
    <h2 class="projects-subtitle">Check out my projects...</h2>
  </div>
  <div class="projects-content">
    <div class="project-item" *ngFor="let project of projects; let i = index" (click)="toggleProject(i)" [class.clicked]="expandedProjectIndex === i">
      <div class="project-header">
        <img [src]="project.image" alt="Project Logo" class="project-image">
        <h3 class="project-name">{{ project.name }}</h3>
      </div>
      <div class="project-details" [class.expanded]="expandedProjectIndex === i">
        <p class="project-blurb">{{ project.blurb }}</p>
        <ul class="project-points">
          <li *ngFor="let point of project.points">{{ point }}</li>
        </ul>
        <div class="project-links">
          <a *ngIf="project.github" [href]="project.github" target="_blank">GitHub</a>
          <a *ngIf="project.youtube" [href]="project.youtube" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>


  
  <footer id="contact">
    <div class="contact-header-container">
        <h2 class="contact-title">Contact</h2>
        <a class="email" href="mailto:thomasaiello19&#64;gmail.com">thomasaiello19&#64;gmail.com</a>
    </div>
</footer>
<div class="scroll-to-top" [class.show]="showScrollToTop" (click)="scrollToTop()">
  &#8679;
</div>

</div>
