<div class="main">
    <section id="home" class="home-section">
        <div class="home-content">
            <h1 class="home-title">Welcome to My Website</h1>
            <p class="home-subtitle">Scroll down to learn more about me</p>
            <div class="home-links">
                <a href="#about">About Me</a>
                <a href="#skills">Skills</a>
                <a href="#work-experience">Work Experience</a>
                <a href="#projects">Projects</a>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about-header-container">
            <h1 class="about-title">About Me</h1>
            <h2 class="about-subtitle">Welcome to my personal website! Here is a bit about me...</h2>
        </div>
        <div class="about-content">
            <img src="assets/icons/grad.jpg" alt="Profile Picture" class="profile-picture">
            <p class="about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </section>
    
    <section id="skills">
        <h1 class="section-title">Skills</h1>
        <h2 class="section-header">Here are some of my skills...</h2>
      <div class="skills-container">
        <div class="skills-carousel" #carousel>
          <img src="assets/icons/pytorch.png" alt="Skill Icon">
          <img src="assets/icons/python.png" alt="Skill Icon">
          <img src="assets/icons/gcp.png" alt="Skill Icon">
          <img src="assets/icons/java.png" alt="Skill Icon">
          <img src="assets/icons/aws.png" alt="Skill Icon">
          <img src="assets/icons/angular.png" alt="Skill Icon">
          <img src="assets/icons/javascript.png" alt="Skill Icon">
          <img src="assets/icons/sql.png" alt="Skill Icon">
          <img src="assets/icons/csharp.png" alt="Skill Icon">
          <img src="assets/icons/react.png" alt="Skill Icon">
          <img src="assets/icons/pandas.png" alt="Skill Icon">
          <img src="assets/icons/html.png" alt="Skill Icon">
          <img src="assets/icons/node.png" alt="Skill Icon">
          <img src="assets/icons/git.png" alt="Skill Icon">
        </div>
        <div class="border"></div>
      </div>
    </section>
    
    <section id="work-experience">
      <div class="content">
        <h2>Work Experience</h2>
        <p>My work experience includes...</p>
      </div>
    </section>
    
    <section id="projects">
      <div class="content">
        <h2>Projects</h2>
        <p>Check out my projects...</p>
      </div>
    </section>
    
    <footer id="contact">
      <div class="content">
        <h2>Contact</h2>
        <p>Get in touch with me...</p>
      </div>
    </footer>
  </div>
  